* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

section {
    height: 100vh;
    align-items: left;
    background-color: white;
    color: #282c34;
    scroll-snap-align: start;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.container::-webkit-scrollbar {
    display: none;
}

.home {
    font-weight: 600;
    font-size: 60px;
    padding: 0 30px 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home span {
    color: #ff5f56;
}


/* navigation */
nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 0 8px 0 8px;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: #282c34;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav:last-child {
    margin-left: auto;
}

.last a {
    margin-left: 5px;
}

.last .icon {
    display: none;
}

/* about */

.about {
    padding: 55px 30px 0 30px;
    overflow: hidden;
}

.about h1 {
    font-size: 30px;
}

.about h4 {
    font-size: 25px;
}

.about-content {
    display: flex;
    text-align: left;
}

.about img {
    height: 400px;
    border-radius: 20px;
}

.about .about-span {
    color: #ff5f56;
}

.about-txt {
    margin-left: 10px;
    margin-right: 30px;
}

.about-txt p {
    font-size: 16px;
}

@media screen and (max-width: 770px) {
    .last a {
        display: none;
    }

    nav {
        background-color: #282c34;
    }

    nav a {
        color: white;
    }

    .last a.icon {
        float: right;
        display: block;
    }

    .last.responsive {
        position: relative;
    }

    .last.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .last.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .home {
        font-size: 40px;
    }

    .about-content {
        flex-direction: column;
    }

    .about-content img {
        display: none;
    }

}